#menubar {
  padding-left: 10px;
  padding-right: 20px;
  line-height:55px;
  height:55px;
}
#sig-logo {
  margin-top: 50px;
  padding-right: 50px;
  padding: 20px;
  width: 160px;
}
.m {
  font-weight: bold;
}
.m:hover{
  background-color: #252525;
  line-height:55px;
  height:63px;
}
